<!DOCTYPE html>
<head>
  <%- include header %>
</head>
<body>
  <%- include nav %>
  <% if(typeof(errors) != 'undefined' && errors.length > 0){ %>
  <%= errors.join('\n') %>
  <% } %>
  <form class="pure-form" method="POST" action="/login">
    <legend>Log in to NodeJack </legend>
    <input type="text" name="user[name]" placeholder="username">
    <input type="password" name="user[password]" placeholder="password">
    <input type="submit" value="Login">
  </form>
  <p>Or <a href="/register">register</a></p>
</body>
</html>
